* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .nav-dashboard-headear {
    width: 100%;
    height: 70px;
    background-color: #e7ad0d;
    color: black;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
  }
  
  .nav-dashboard-headear li svg {
    margin-top: 15px;
    margin-left: 30px;
    color: rgb(0, 174, 255);
    cursor: pointer;
  }
  
  .nav-dashboard-headear ul {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    height: 70px;
  }
  
  .nav-dashboard-headear ul li {
    text-align: center;
    list-style-type: none;
    margin-right: 50px;
    height: 70px;
    display: flex;
    margin-top: 20px;
  }
  
  @media (max-width: 1200px) {
    .nav-dashboard-headear {
      display: none;
    }
  }
  
  /* Profile name and picture design on the nav bar */
  
  .profile-image img {
    height: 50px;
    width: 50px;
    border-radius: 90px;
    margin-top: 3px;
  }
  
  .profile-nave-avatar {
    height: 45px;
    width: 45px;
    /* background-color: black; */
    background: rgb(14, 154, 236);
    border-radius: 90px;
    margin-right: 15px;
   
  }
  
  .profile-nave-avatar h4 {
    height: 45px;
    width: 45px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
    border-radius: 50%;
    font-size: 15px;
  }
  
  /* To fit navar in container-fludi */
  
  
  .container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    overflow: hidden;
  }
  